apiVersion: v1
kind: Service
metadata:
  name: planner-ai-backend
spec:
  selector:
    app: planner-ai-backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: LoadBalancer
